.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
}

.post a {
  background: #f4f4f4;
  color: #000000;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.post a:hover {
  background: #e4e4e4;
}

h2 {
  color: #777777;
  font-style: italic;
}